<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">   
    <title>Rodgie Fritz Barnuevo</title>
    <style>
        body{
            background-color: #009785;
        }
        .font-red{
            color: red;
        }

        .back-color-blue{
            background-color: blue;
        }

        .back-color-orange{
            background-color: orange;
        }

        .back-color-green{
            background-color: green;
        }
        #border{
        
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="border" class="back-color-blue">
        Header
    </div>
    <div id="border" class="back-color-orange">
        content
    </div>
    <div id="border" class="back-color-green">
        footer
    </div>
</body>
</html>