html,body{
    height: 100% !important;
    width: 100% !important;
}
.nav li.active a{
    background-color: #009785 !important;
}

.modal-width{
    width: 300px !important;
}

.nav-tabs > li.active > a{
    background-color:transparent !important;
    border: 1px solid #ddd !important;
    border-bottom:5px solid #ddd !important;
    color:black !important;
    
}
    /*DATE PICKER*/
.dtp div.dtp-date, .dtp div.dtp-time{
    background:#999999 !important;
}
.dtp .p10 > a{
    color:white !important;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header{
    background:#009785 !important;
}
.dtp .p10{
    width:30% !important;
    padding-left:24% !important;
}

    /*CLIENT TRANSACTION*/
table#clientTransTbl.dataTable tbody td{
    color:#009785 !important;
    padding: 1px 20px !important;
}






    /*HOME PAGE NOTE*/

.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}
/******* END NOTE *****/

/***** PAGE LOADER *************/

.loader {
    position:fixed;
	z-index: 9998;
    opacity: .7;
    width: 100% !important;
	height: 100% !important;
    background-color:white;
}

#loadergif{
    position: fixed;
    left:50%;
    top:50%;
    margin-top:-15%;
    margin-left:-15%;
    z-index: 9999;
}

/***** END PAGE LOADER *************/